<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- add values to be replaced at build time in main App.config -->
         
    <add key="Environment"
     value="QA"
     xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Database.ConnStrFNBCustom"
     value="Data Source=PDARGSQLQA1L;Initial Catalog=FNBCustom;Integrated Security=SSPI;"
     xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="LeasePaymentsReport.OutputCSVDir" value="D:\\ARGO_FNBCustomReports\\FNBTellerETL\\LeasePaymentsOutputCSV"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="LrgDollarOvrrideRep.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\LargeDollarOverridesOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="TellerVolumeReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\TellerVolumeOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="TransitDepositReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\TransitDepositReportOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="OfficalCheckReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\OfficialCheckOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MIMonthlyMonitoringReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\MIMonthlyMonitoringOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>