<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="LCL"/>
    <add key="Database.ConnStrFNBCustom" value="Data Source=PDARGSQLDEV01;Initial Catalog=FNBCustom;Integrated Security=SSPI;"/>
    <add key="Email.SmtpAddress" value="smtpout.myfnb.us"/>
    <add key="Email.SendReportsFrom" value="tellerreporting@fnb-corp.com"/>
    <add key="Email.SendEmailAlert" value="false"/>
    <add key="Email.SendEmailAlertFrom" value="telleralerting@fnb-corp.com"/>
    <add key="Email.SendEmailAlertTo" value="DunderdaleJ@fnb-corp.com;Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>
    
    <!-- Cash Advance Report -->
    <add key="CashAdvanceReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\CashAdvanceOutputCSV\"/>
    <add key="CashAdvanceReport.SendReportsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>
    
    <!-- Lease Payments Report-->
    <add key="LeasePaymentsReport.SendReportsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>
    <!--<add key="LeasePaymentsReport.OutputCSVDir" value="D:\\ARGO_FNBCustomReports\\FNBTellerETL\\LeasePaymentsOutputCSV"/>-->
    <add key="LeasePaymentsReport.OutputCSVDir" value="C:\\Users\\murphyj\\Desktop"/>
    <add key="LeasePaymentsReport.LCLHardcodedXMLLoc" value="C:\\Users\\murphyj\\Desktop\\LeasePayment Server Samples\\20201102.xml"/>

    <!-- Teller Volume Report-->
    <add key="TellerVolumeReport.ReportFileLocation" value="C:\Users\murphyj\Desktop\"/>
    <add key="TellerVolumeReport.SendReportsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>

    <!-- AML Accounts Updater -->
    <add key="AmlAccountsUpdater.SendJobAlertsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>
    <add key="AmlAccountsUpdater.InputFileDir" value="D:\ARGO_FNBCustomReports\SharepointAMLFileDownloader\ctr exemption flag data files\"/>
    <add key="AmlAccountsUpdater.HistoryDir" value="D:\ARGO_FNBCustomReports\SharepointAMLFileDownloader\ctr exemption flag data files\History\"/>

    <!-- EJ Extract Utility -->
    <add key="EjExtractUtil.BPUEJFMTexeFullPath" value="D:\ARGO\Server\Progs\BPUEJFMT.exe"/>
    <add key="EjExtractUtil.BPUEJFMTexeTimeoutMS" value="3600000"/> <!-- 60 min -> -->
    <add key="EjExtractUtil.OutputXMLDir" value="D:\ARGO_FNBCustomReports\FNBTellerETL\EjExtractXmlOutput\"/>

    <!-- Large Dollar Overrides Report-->
    <add key="LrgDollarOvrrideRep.SendEmailAlertsTo" value="Business_Systems_Analysts@fnb-corp.comFrazierE@fnb-corp.com"/>
    <add key="LrgDollarOvrrideRep.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\LargeDollarOverridesOutputCSV\"/>
    
    <!-- Misc. Jobs-->
    <add key="ETLJobMonitor.SendEmailAlertsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>
    <add key="FileCleanupTool.FoldersToClean" value="D:\ARGO_FNBCustomReports\FNBTellerETL\EjExtractXmlOutput;D:\ARGO_FNBCustomReports\FNBTellerETL\LeasePaymentsOutputCSV;D:\ARGO_FNBCustomReports\FNBTellerETL\TellerVolumeOutputCSV;D:\ARGO_FNBCustomReports\FNBTellerETL\CashAdvanceOutputCSV"/>

    <!-- Offical Check Report-->
    <add key="OfficalCheckReport.ReportFileLocation" value="C:\Users\murphyj\Desktop\"/>
    <add key="OfficalCheckReport.SendReportsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>

    <!-- Transit Deposit Report -->
    <add key="TransitDepositReport.ReportFileLocation" value="C:\Users\murphyj\Desktop\"/>
    <add key="TransitDepositReport.SendReportsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>
    
    <!-- Monetary Instrument Log Report -->
    <add key="MonetaryInstrumentLogReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\MonetaryInstrumentLogOutputCSV\"/>
    <add key="MonetaryInstrumentLogReport.SendReportsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>

    <!-- MI Monthly Monitoring Report -->
    <add key="MIMonthlyMonitoringReport.ReportFileLocation" value="C:\Users\murphyj\Desktop\"/>
    <add key="MIMonthlyMonitoringReport.SendReportsTo" value="Business_Systems_Analysts@fnb-corp.com;FrazierE@fnb-corp.com"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
