<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- add values to be replaced at build time in main App.config -->

    <add key="Environment"
     value="PRD"
     xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Database.ConnStrFNBCustom"
     value="Data Source=PDARGSQLPRD0L;Initial Catalog=FNBCustom;Integrated Security=SSPI;"
     xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="CashAdvanceReport.SendReportsTo"
         value="Controls@fnb-corp.com;Business_Systems_Analysts@fnb-corp.com;fraziere@fnb-corp.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="LeasePaymentsReport.SendReportsTo"
         value="TellerLeasePaymentsReport@fnb-corp.com;Business_Systems_Analysts@fnb-corp.com;fraziere@fnb-corp.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="LeasePaymentsReport.OutputCSVDir" value="D:\\ARGO_FNBCustomReports\\FNBTellerETL\\LeasePaymentsOutputCSV"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="LrgDollarOvrrideRep.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\LargeDollarOverridesOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="LrgDollarOvrrideRep.SendEmailAlertsTo" value="TellerLrgDollarOverridesDL@fnb-corp.com;Business_Systems_Analysts@fnb-corp.com;fraziere@fnb-corp.com"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="TellerVolumeReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\TellerVolumeOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="TellerVolumeReport.SendReportsTo" value="TellerVolumeReportDL@fnb-corp.com;Business_Systems_Analysts@fnb-corp.com;fraziere@fnb-corp.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="TransitDepositReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\TransitDepositReportOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="TransitDepositReport.SendReportsTo" value="Business_Systems_Analysts@fnb-corp.com;fraziere@fnb-corp.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="OfficalCheckReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\OfficialCheckOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="OfficalCheckReport.SendReportsTo" value="PADepositResearch@fnb-corp.com;Business_Systems_Analysts@fnb-corp.com;fraziere@fnb-corp.com"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MonetaryInstrumentLogReport.SendReportsTo" value="DanielsH@fnb-corp.com;HooverS@fnb-corp.com;DeMossP@fnb-corp.com;Guthrie@fnb-corp.com;Business_Systems_Analysts@fnb-corp.com;fraziere@fnb-corp.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MonetaryInstrumentLogReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\MonetaryInstrumentLogOutputCSV\"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MIMonthlyMonitoringReport.ReportFileLocation" value="D:\ARGO_FNBCustomReports\FNBTellerETL\MIMonthlyMonitoringOutputCSV\"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="MIMonthlyMonitoringReport.SendReportsTo" value="MIRiskMonthlyReport@fnb-corp.com;Business_Systems_Analysts@fnb-corp.com;fraziere@fnb-corp.com"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
</configuration>